In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('data.csv')

In [3]:
data.head()

,,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,AWD,Type 2 CCS,Sedan,D,5,55480
1,1,Volkswagen,ID.3 Pure,10.0,160,270,167,250,No,RWD,Type 2 CCS,Hatchback,C,5,30000
2,2,Polestar,2,4.7,210,400,181,620,Yes,AWD,Type 2 CCS,Liftback,D,5,56440
3,3,BMW,iX3,6.8,180,360,206,560,Yes,RWD,Type 2 CCS,SUV,D,5,68040
4,4,Honda,e,9.5,145,170,168,190,Yes,RWD,Type 2 CCS,Hatchback,B,4,32997

In [4]:
data.shape

(103, 15)

In [5]:
data.dtypes

                                      int64
Brand                                object
Model                                object
AccelSec                            float64
TopSpeed_KmH                          int64
Range_Km                              int64
Efficiency_WhKm                       int64
FastCharge_KmH                        int64
RapidCharge                          object
PowerTrain                           object
PlugType                             object
BodyStyle                            object
Segment                              object
Seats                                 int64
PriceEuro                             int64
dtype: object

In [6]:
data.nunique()

                                    103
Brand                                33
Model                               102
AccelSec                             55
TopSpeed_KmH                         25
Range_Km                             50
Efficiency_WhKm                      54
FastCharge_KmH                       51
RapidCharge                           2
PowerTrain                            3
PlugType                              4
BodyStyle                             9
Segment                               8
Seats                                 5
PriceEuro                            87
dtype: int64

In [7]:
data.isna().sum()

                                    0
Brand                               0
Model                               0
AccelSec                            0
TopSpeed_KmH                        0
Range_Km                            0
Efficiency_WhKm                     0
FastCharge_KmH                      0
RapidCharge                         0
PowerTrain                          0
PlugType                            0
BodyStyle                           0
Segment                             0
Seats                               0
PriceEuro                           0
dtype: int64

In [8]:
import category_encoders as ce

In [9]:
data.dtypes

                                      int64
Brand                                object
Model                                object
AccelSec                            float64
TopSpeed_KmH                          int64
Range_Km                              int64
Efficiency_WhKm                       int64
FastCharge_KmH                        int64
RapidCharge                          object
PowerTrain                           object
PlugType                             object
BodyStyle                            object
Segment                              object
Seats                                 int64
PriceEuro                             int64
dtype: object

In [10]:
encoder=ce.OrdinalEncoder(["Brand","Model","RapidCharge","PowerTrain","PlugType","BodyStyle","Segment"])

In [11]:
data=encoder.fit_transform(data)

In [12]:
data.head()

,,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,0,1,1,4.6,233,450,161,940,1,1,1,1,1,5,55480
1,1,2,2,10.0,160,270,167,250,2,2,1,2,2,5,30000
2,2,3,3,4.7,210,400,181,620,1,1,1,3,1,5,56440
3,3,4,4,6.8,180,360,206,560,1,2,1,4,1,5,68040
4,4,5,5,9.5,145,170,168,190,1,2,1,2,3,4,32997

In [20]:
data1=data
data1.head()
data1=data1.drop(['Brand      ','Model                           '],axis=1)

In [21]:
data1.columns

Index(['    ', 'AccelSec ', 'TopSpeed_KmH ', 'Range_Km ', 'Efficiency_WhKm ',
       'FastCharge_KmH ', 'RapidCharge ', 'PowerTrain ', 'PlugType       ',
       'BodyStyle ', 'Segment ', 'Seats ', 'PriceEuro'],
      dtype='object')

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
scaler=StandardScaler()

In [24]:
scaled_data=scaler.fit_transform(data)

In [25]:
scaled_data

array([[-1.71531562, -1.24481664, -1.72142544, ..., -1.24369824,
         0.1471092 , -0.00976088],
       [-1.68168198, -1.14074512, -1.68730172, ..., -0.68914881,
         0.1471092 , -0.7598663 ],
       [-1.64804835, -1.0366736 , -1.65317801, ..., -1.24369824,
         0.1471092 ,  0.01850055],
       ...,
       [ 1.64804835, -0.30817295,  1.65682229, ..., -0.68914881,
         0.1471092 , -0.17108654],
       [ 1.68168198, -0.30817295,  1.690946  , ..., -0.68914881,
         0.1471092 ,  0.27049828],
       [ 1.71531562,  1.77325747,  1.72506972, ...,  1.52904892,
         0.1471092 ,  0.18218132]])

In [26]:
from sklearn.cluster import KMeans

In [27]:
knn=KMeans()

In [28]:
data["Segment1"]=knn.fit_predict(scaled_data)

/Users/namanmuktha/anaconda3/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [29]:
data.head()

,,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro,Segment1
0,0,1,1,4.6,233,450,161,940,1,1,1,1,1,5,55480,1
1,1,2,2,10.0,160,270,167,250,2,2,1,2,2,5,30000,6
2,2,3,3,4.7,210,400,181,620,1,1,1,3,1,5,56440,1
3,3,4,4,6.8,180,360,206,560,1,2,1,4,1,5,68040,1
4,4,5,5,9.5,145,170,168,190,1,2,1,2,3,4,32997,6

In [30]:
data["Segment1"].nunique()

8

In [31]:
corr=data.corr()

In [32]:
corr["Segment1"].sort_values()

                                   -0.430021
Model                              -0.416768
FastCharge_KmH                     -0.240051
Brand                              -0.227758
Range_Km                           -0.150279
Efficiency_WhKm                    -0.123793
BodyStyle                          -0.117187
Seats                              -0.117088
TopSpeed_KmH                        0.010694
PriceEuro                           0.020232
RapidCharge                         0.138853
AccelSec                            0.142543
PlugType                            0.208031
PowerTrain                          0.232707
Segment                             0.256598
Segment1                            1.000000
Name: Segment1, dtype: float64